@import "reset.css";
@charset "utf-8";
.full {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html {
  overflow: hidden;
}
body {
  overflow-y: auto;
}
body::-webkit-scrollbar {
  width: 0;
}
.header {
  width: 100%;
  height: auto;
  background: #f6f6f6;
  text-align: center;
  border-bottom: 1px solid #dddddd;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.header a {
  font-size: 16px;
  line-height: 4.4rem;
  color: #000000;
}
.main {
  margin-bottom: 4.85rem ;
  padding-top: 4.4rem;
}
.jin {
  width: 100%;
  height: auto;
  background: #e8f6ff;
  padding-top: 25px;
  padding-bottom: 25px;
}
.jin-1 {
  width: 85px;
  height: 85px;
  background: #53a1d8;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
}
.jin-1 a {
  line-height: 85px;
  color: #FFFFFF;
  font-size: 40px;
}
.jin-2 {
  width: 100%;
  height: 15px;
  background: none;
}
.sp1 {
  float: left;
  color: #469ad4;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 30px;
}
.sp2 {
  float: right;
  color: #469ad4;
  font-size: 16px;
  margin-right: 20px;
  margin-top: 30px;
}
.xiao {
  width: 100%;
  height: auto;
  background: #feeede;
  padding-top: 25px;
  padding-bottom: 25px;
}
.xiao-1 {
  width: 85px;
  height: 85px;
  background: #ff8a18;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
}
.xiao-1 a {
  line-height: 85px;
  color: #FFFFFF;
  font-size: 40px;
}
.xiao-2 {
  width: 100%;
  height: 15px;
  background: none;
}
.sp3 {
  float: left;
  color: #ff8a18;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 30px;
}
.sp4 {
  float: right;
  color: #ff8a18;
  font-size: 16px;
  margin-right: 20px;
  margin-top: 30px;
}
.cun {
  width: 100%;
  height: auto;
  background: #d5fbeb;
  padding-top: 25px;
  padding-bottom: 25px;
}
.cun-1 {
  width: 85px;
  height: 85px;
  background: #56c597;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
}
.cun-1 a {
  line-height: 85px;
  color: #FFFFFF;
  font-size: 40px;
}
.cun-2 {
  width: 100%;
  height: 15px;
  background: none;
}
.sp5 {
  float: left;
  color: #56c597;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 30px;
}
.sp6 {
  float: right;
  color: #56c597;
  font-size: 16px;
  margin-right: 20px;
  margin-top: 30px;
}
.fang {
  width: 100%;
  height: auto;
  background: #a587bd;
  padding-top: 25px;
  padding-bottom: 25px;
}
.fang-1 {
  width: 85px;
  height: 85px;
  background: #644d9d;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
}
.fang-1 a {
  line-height: 85px;
  color: #FFFFFF;
  font-size: 40px;
}
.fang-2 {
  width: 100%;
  height: 15px;
  background: none;
}
.sp7 {
  float: left;
  color: #644d9d;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 30px;
}
.sp8 {
  float: right;
  color: #644d9d;
  font-size: 16px;
  margin-right: 20px;
  margin-top: 30px;
}
.footer {
  width: 100%;
  height: 4.85rem;
  background: #f6f6f6;
  border-top: 1px solid #DDDDDD;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer .a1 {
  background: url(../img/wang-4.jpg) no-repeat center 5px;
  background-size: 24px auto;
  width: 24%;
  height: 4.85rem;
  background: null;
  display: inline-block;
  text-align: center;
  padding-top: 28px;
  color: #999999;
}
.footer .a2 {
  background: url(../img/wang-3.jpg) no-repeat center 5px;
  background-size: 24px auto;
  width: 24%;
  height: 4.85rem;
  background: null;
  display: inline-block;
  text-align: center;
  padding-top: 28px;
  color: #fd9263;
}
.footer .a3 {
  background: url(../img/wang-1.jpg) no-repeat center 5px;
  background-size: 24px auto;
  width: 24%;
  height: 4.85rem;
  background: null;
  display: inline-block;
  text-align: center;
  padding-top: 28px;
  color: #999999;
}
.footer .a4 {
  background: url(../img/wang-2.jpg) no-repeat center 5px;
  background-size: 24px auto;
  width: 24%;
  height: 4.85rem;
  background: null;
  display: inline-block;
  text-align: center;
  padding-top: 28px;
  color: #999999;
}
